<h1>{{ page.title }}</h1>

<p>
{% if page.lang == "en" %}
ContraMontreal has an official Code of Conduct for all attendees to abide by. Basically be awesome and respectful and we’ll help everyone have a good time. If you have any questions, let us know! You can always email us at info@contramontreal.org.
{% elsif page.lang == "fr" %}
ContraMontréal a un code de conduite officiel que tous les participants doivent respecter. Essentiellement, soyez génial et respectueux et nous aiderons tout le monde à passer un bon moment. Si vous avez des questions, laissez-nous savoir! Vous pouvez toujours nous envoyer un courriel à info@contramontreal.org.
{% endif %}
</p>

<p>
{% if page.lang == "en" %}
ContraMontreal is dedicated to providing a safe and enjoyable dance experience for everyone. Our goal is to create a space where everyone can grow as dancers and where everyone can enjoy dancing and socializing safely. To make this happen we all need to agree to a few expectations:
{% elsif page.lang == "fr" %}
ContraMontréal se consacre à fournir une expérience de danse sécuritaire et agréable pour tout le monde. Notre objectif est de créer un espace où chacun peut évoluer en tant que danseur et où tout le monde peut profiter de la danse et socialiser en toute sécurité. Pour que cela se produise, nous devons tous accepter quelques attentes:
{% endif %}
</p>

<ul>
    <li>
        {% if page.lang == "en" %}
    We aspire to offer a comfortable space for everyone, regardless of age, gender identity and expression, sexual orientation, (dis)ability, physical appearance, race, religion/spirituality, or other aspects of identity. We do not tolerate harassment in any form.
        {% elsif page.lang == "fr" %}
    nous aspirons à offrir un espace confortable à tous, indépendamment de l’âge, de l’identité et de l’expression sexuelles, de l’orientation sexuelle, de handicap, de l’apparence physique, de la race, de la religion ou de la spiritualité, ou d’autres aspects de l’identité. Nous ne tolérons aucune forme de harcèlement.
        {% endif %}
    </li>
    <li>
        {% if page.lang == "en" %}
    Refrain from racist, homophobic, transphobic, ableist, sexist, or other behavior that degrades, shames, or disrespects others for any aspect of their identity.
        {% elsif page.lang == "fr" %}
    S’abstenir de tout comportement raciste, homophobe, transphobe, capacitiste, sexiste ou autre, qui dégrade, fait honte ou manque de respect envers autrui pour tout aspect de son identité.
        {% endif %}
    </li>
    <li>
        {% if page.lang == "en" %}
    Be conscious of the need for consent for certain activities. Make sure you have consent before dancing with someone, dipping them, cuddling with them, making any form of sexual contact, et cetera. We encourage you to ask before offering flourishes and to not include someone in parallel play (shenanigans/chaos) without their consent. If you do choose to participate on parallel play, please be considerate of other dancers and do your best not to mix up other people.
        {% elsif page.lang == "fr" %}
    Être conscient du besoin de consentement pour certaines activités. Assurez-vous d’avoir le consentement avant de danser avec quelqu’un, de les renverser (dip), de les câliner, de faire tout type de contact sexuel, et cetera. Nous vous encourageons à demander avant d’offrir des fioritures (flourishes) et à ne pas inclure quelqu’un en jeu parallèle (shenanigans / chaos) sans son consentement. Si vous choisissez de faire du jeu parallèle, assurez-vous de prendre les autres danseurs en compte et faites votre possible pour ne pas les mélanger.
        {% endif %}
    </li>
    <li>
        {% if page.lang == "en" %}
    Be patient and kind with beginners, we were all there once and they will improve much faster with our help!
        {% elsif page.lang == "fr" %}
    Soyez patient et gentil avec les débutants, nous y étions tous dans le passé et ils s’amélioreront beaucoup plus vite avec notre aide!
        {% endif %}
    </li>
    <li>
        {% if page.lang == "en" %}
    So, do your utmost to ensure that your behavior isn’t making someone else uncomfortable or unsafe. Be your best self.
        {% elsif page.lang == "fr" %}
    Alors, faites tout votre possible pour vous assurer que votre comportement ne rend pas quelqu’un d’autre inconfortable ou dangereux. Soyez le meilleur de vous-mêmes.
        {% endif %}
    </li>
</ul>

<p>
{% if page.lang == "en" %}
If asked to stop any behavior, participants are expected to comply immediately. We expect participants to follow these rules throughout each of our events. Egregious violations may be met with consequences up to and including expulsion from the event without a refund.
{% elsif page.lang == "fr" %}
Si on leur demande d’arrêter tout comportement, les participants doivent se conformer immédiatement. Nous nous attendons à ce que les participants suivent ces règles tout au long de chacuns de nos événements. Des violations flagrantes peuvent entraîner des conséquences pouvant aller jusqu’à l’expulsion de l’événement sans remboursement.
{% endif %}
</p>

<p>
{% if page.lang == "en" %}
ContraMontreal encourages you to take initiative in respecting, setting, discussing, and defending boundaries. If you feel uncomfortable or unsafe confronting a situation, please talk to a committee member. We take all complaints seriously and are committed to resolving issues to the greatest extent possible.
{% elsif page.lang == "fr" %}
ContraMontréal vous encourage à prendre des initiatives pour respecter, définir, discuter et défendre les frontières. Si vous vous sentez mal à l’aise ou en danger face à une situation, veuillez vous adresser à un membre du comité. Nous prenons toutes les plaintes au sérieux et nous nous engageons à résoudre les problèmes dans toute la mesure du possible.
{% endif %}
</p>
