<h1>
{% if page.lang == "en" %}
New Dancer FAQ
{% elsif page.lang == "fr" %}
FAQ Pour Debutant(e)s
{% endif %}
</h1>

{% if page.lang == "en" %}
<h2>What is contra dance?</h2>
<p></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>How much dancing experience do I need?</h2>
<p></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Do I need to have a partner?</h2>
<p></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>What should I wear?</h2>
<p></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>What should I bring?</h2>
<p></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Are children welcome?</h2>
<p></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>What is the music like?</h2>
<p></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2></h2>
<p></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2></h2>
<p></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2></h2>
<p></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

