<h1>
{% if page.lang == "en" %}
New Dancer FAQ
{% elsif page.lang == "fr" %}
FAQ pour les débutant(e)s
{% endif %}
</h1>

{% if page.lang == "en" %}
<p>Watch new contra dancers describe their experience <a href="https://www.youtube.com/watch?v=7BjR-LuMPr4">here</a>.</p>
{% elsif page.lang == "fr" %}
<p>Regardez les nouveaux danseurs décrire leur expérience <a href="https://www.youtube.com/watch?v=7BjR-LuMPr4">ici</a> (en anglais).</p>
{% endif %}

{% if page.lang == "en" %}
<h2>What is contra dance?</h2>
<p>Contra dance is a traditional social dance, originally from New England but now danced all over North America. It is similar to many other dance styles, such as Square Dance or English Country Dance. A caller guides the dancers through a series of figures, while the dancers move up and down the hall dancing with everyone in the hall.</p>
{% elsif page.lang == "fr" %}
<h2>Qu’est ce qu’une contre-danse?</h2>
<p>La contre-danse est une danse sociale traditionnelle, originaire de la Nouvelle-Angleterre, mais aujourd'hui pratiquée dans toute l'Amérique du Nord. Elle ressemble à de nombreux autres styles de danse, comme le set carré ou la contre-danse anglaise. Un calleur guide les danseurs à travers une série de figures, tandis que les danseurs se déplacent dans la salle en dansant avec tout le monde dans la salle.</p>
{% endif %}

{% if page.lang == "en" %}
<h2>How much dancing experience do I need?</h2>
<p>None! Contra dance is very beginner friendly. There is no footwork to learn, and all dances are taught just before they are danced. If this this your first time at a contra dance, we recommend that you come to the introductory lesson to learn the basics.</p>
{% elsif page.lang == "fr" %}
<h2>J'ai besoin de quelle expérience de danse?</h2>
<p>Aucune! La contre-danse est très adaptée aux débutants. Il n'y a pas de jeu de jambes à apprendre et toutes les danses sont enseignées juste avant d'être dansées. Si c'est votre première fois à une contre-danse, nous vous recommandons de venir à la leçon d'introduction pour apprendre les bases.</p>
{% endif %}

{% if page.lang == "en" %}
<h2>Do I need to have a partner?</h2>
<p>You can come alone, bring a partner or a friend, or come with a group! You can dance with anyone who is there. We change partners for each dance so you will get to dance with many different people of all ages, genders, and experience levels throughout the evening!</p>
{% elsif page.lang == "fr" %}
<h2>J'ai besoin d'un partenaire?</h2>
<p>Vous pouvez venir seul, avec un partenaire ou un ami, ou venir en groupe! Vous pouvez danser avec n'importe qui. Nous changeons de partenaire à chaque danse afin que vous puissiez danser avec de nombreuses personnes différentes de tous âges, de tous genres, et de tous niveaux d'expérience pendant la soirée!</p>
{% endif %}

{% if page.lang == "en" %}
<h2>What should I wear?</h2>
<p>We recommend wearing comfortable, breathable, casual clothing, including soft-soled, flat shoes such as running shoes. Please bring clean indoor shoes during wintry or rainy conditions.</p>
{% elsif page.lang == "fr" %}
<h2>Que dois-je porter?</h2>
<p>Nous vous recommandons de porter des vêtements confortables, respirants et décontractés, notamment des chaussures plates à semelles souples telles que des chaussures de course. Veuillez apporter des chaussures d'intérieur propres en cas de conditions hivernales ou pluvieuses.</p>
{% endif %}

{% if page.lang == "en" %}
<h2>What should I bring?</h2>
<p>Your smiles! There is one water fountain immediately outside our dance room, but water bottles are recommended. You may bring a snack for yourself or to share. Some people prefer to dance with ear plugs.</p>
{% elsif page.lang == "fr" %}
<h2>Que dois-je apporter?</h2>
<p>Vos sourires! Il y a une fontaine à eau juste à l'extérieur de notre salle de danse, mais les bouteilles d'eau sont recommandées. Vous pouvez apporter une collation pour vous-même ou à partager. Certaines personnes préfèrent danser avec des bouchons d'oreilles.</p>
{% endif %}

{% if page.lang == "en" %}
<h2>Are children welcome?</h2>
<p>Yes! Children of all ages can dance! Young children may prefer to run around instead of dance, which is fine, but please supervise them. Also please consider bringing ear protection for very young children.</p>
{% elsif page.lang == "fr" %}
<h2>Les enfants sont-ils les bienvenus?</h2>
<p>Oui! Les enfants de tous âges peuvent danser! Les jeunes enfants peuvent préférer jouer plutôt que danser, ce qui est acceptable, mais veuillez les surveiller. Pensez également à apporter des protections auditives pour les très jeunes enfants.</p>
{% endif %}

{% if page.lang == "en" %}
<h2>What is the music like?</h2>
<p>We always dance to live music played by local musicians or travelling bands. You will hear mostly traditional Québécois, Irish, or New England music played on fiddles, acoustic guitars, and the like. But every band is different!</p>
{% elsif page.lang == "fr" %}
<h2>Comment est la musique?</h2>
<p>Nous dansons toujours au son de la musique jouée en direct par des musiciens locaux ou des groupes itinérants. Vous entendrez principalement de la musique traditionnelle québécoise, irlandaise ou de la Nouvelle-Angleterre jouée au violon, à la guitare acoustique, etc. Mais chaque groupe est différent!</p>
{% endif %}

{% if page.lang == "en" %}
<h2>In what language are the dances taught?</h2>
<p>Dances are generally called in English, but we invite everyone to join us and we are happy to provide explanations in French. Even so, dancing is a universal language, and you can learn just by watching others, even if you understand neither English nor French.</p>
{% elsif page.lang == "fr" %}
<h2>Dans quelle langue les danses sont-elles enseignées?</h2>
<p>Les danses sont généralement callée en anglais, mais nous invitons tout le monde à participer et nous serons heureux de fournir des explications en français. Pourtant, la danse est un langage universel et on peut l'apprendre simplement en regardant les autres, même si on ne comprend ni l'anglais ni le français.</p>
{% endif %}

<!--
{% if page.lang == "en" %}
<h2></h2>
<p></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2></h2>
<p></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}
-->

