<h1>
{% if page.lang == "en" %}
New Dancer FAQ
{% elsif page.lang == "fr" %}
FAQ Pour Debutant(e)s
{% endif %}
</h1>

{% if page.lang == "en" %}
<p>Watch new contra dancers describe their experience <a href="https://www.youtube.com/watch?v=7BjR-LuMPr4">here</a></p>
{% elsif page.lang == "fr" %}
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>What is contra dance?</h2>
<p>In a contra dance, guided by a caller, each couple dances figures with a series of other couples. It’s great fun. The two roles are called “larks” and “robins” and they are each danced by whoever wants to, no matter their genders and it is common to see same-gendered couples.</p>
{% elsif page.lang == "fr" %}
<h2>Qu’est ce qu’une contredanse de la Nouvelle-Angleterre?</h2>
<p>Dans une contredanse, un couple guidé par un calleur danse une séquence de figures avec d’autres couples. Les rôles s’appellent « Larks » et « Robins ». Le choix d’un rôle est personnel et il est fréquent de voir des couples formés de personnes du même sexe.</p>
{% endif %}

{% if page.lang == "en" %}
<h2>How much dancing experience do I need?</h2>
<p>None! Contra dance is very beginner-friendly. There is no fancy footwork to learn. All dances are taught. If this this your first time at a contra dance, we recommend that you come to the introdcutory lesson to learn the basics.</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Do I need to have a partner?</h2>
<p>You can come alone, bring a partner or a friend, or come with a group! You can dance with anyone who is there and you will change partners for each dance. You will get to dance with many different people of all ages, genders, and experience levels throughout the evening!</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>What should I wear?</h2>
<p>We recommend</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>What should I bring?</h2>
<p>Please bring a pair of clean indoor shoes to help keep our floor clean, especially in the winter or if it is raining.</p>
<p>Also bring a water bottle</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Are children welcome?</h2>
<p></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>What is the music like?</h2>
<p>We always dance to live music played by local musicians or travelling bands. You will here mostly traditional Québécois, Irish, or New England music played on fiddles, acoustic guitars, and the like. But every band is different!</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2></h2>
<p></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2></h2>
<p></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2></h2>
<p></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

