<h1>
{% if page.lang == "en" %}
Get Involved
{% elsif page.lang == "fr" %}
Impliquez-vous
{% endif %}
</h1>

{% if page.lang == "en" %}
<p>ContraMontreal is entirely volunteer run, and also offers opportunities for everyone to learn to call and play for dances. Want to help or participate? Here's how:</p>
{% elsif page.lang == "fr" %}
<p>ContraMontreal est entièrement géré par des bénévoles et offre également à tous la possibilité d'apprendre à caller et à jouer pour les danses. Vous souhaitez aider ou participer ? Voici comment :</p>
{% endif %}

{% if page.lang == "en" %}
<h2>On Call</h2>
<p>On Call is our callers' collective, a group of local callers of all experience levels. When On Call calls, each person will call one or two dances. It is a great way for beginner or intermediate callers to learn or hone their skills. We also have practice sessions with more opportunity for experimentation and feedback. Interested in calling with us? Let us know.</p>
{% elsif page.lang == "fr" %}
<h2>On Call</h2>
<p>On Call est notre collectif de calleur.euse.s, un groupe de calleur.euse.s locaux de tous niveaux d'expérience. Lors des danses callées par On Call, chaque personne callera une ou deux danses seulement. C'est un excellent moyen pour les calleur.euse.s débutant.e.s ou intermédiaires d'apprendre ou de perfectionner leurs compétences. Nous proposons également des séances de pratique avec plus d'opportunités d'expérimentation et de retours. Vous souhaitez caller avec nous ? Faites-le nous savoir.</p>
{% endif %}

{% if page.lang == "en" %}
<h2>Open Band</h2>
<p>Anyone can play in our open band! One of our musicians will pick the tunes and coordinate a rehearsal so that everyone is ready to play for the dance. You are welcome to play as many or as few sets as you like and dance for the rest of the evening. Interested in playing with us? Let us know.</p>
<img width=100% alt="Open Band: Seven people playing instruments" src="{{site.baseurl}}/assets/images/OpenBand_cropped.jpg">
{% elsif page.lang == "fr" %}
<h2>Bande Ouverte</h2>
<p>Tout le monde peut jouer dans notre bande ouvert ! L'un de nos musiciens choisira les morceaux et coordonnera une répétition afin que tout le monde soit prêt à jouer pour la danse. Vous êtes invités à jouer autant ou aussi peu de sets que vous le souhaitez et à danser pendant le reste de la soirée. Vous souhaitez jouer avec nous ? Faites-le nous savoir.</p>
<img width=100% alt="Bande Ouverte: Sept personnes jouant d'un instrument" src="{{site.baseurl}}/assets/images/OpenBand_cropped.jpg">
{% endif %}

{% if page.lang == "en" %}
<h2>Volunteer</h2>
<p>There are many things to do at each dance, and many hands make light work! We always appreciate help with setup and teardown and everything else.</p>
{% elsif page.lang == "fr" %}
<h2>Bénévole</h2>
<p>Il y a beaucoup de choses à faire à chaque danse, et plusieurs mains rendent le travail plus facile ! Nous apprécions toujours l'aide pour l'installation, le démontage et tout le reste.</p>
{% endif %}

{% if page.lang == "en" %}
<h2>Organizing Committee</h2>
<p>Special thanks to our current organizing committee:</p>
{% elsif page.lang == "fr" %}
<h2>Comité d'organisation</h2>
<p>Un merci spécial à notre comité d'organisation :</p>
{% endif %}

<ul>
    <li>Marie-Michèle Fournier</li>
    <li>Neil Guertin</li>
    <li>Grace Hendrickson-Jones</li>
    <li>Jen Jack</li>
    <li>Claude Richard</li>
    <li>Nicholas Smith</li>
    <li>Emily Thomason</li>
    <li>Kaitlyn Urquhart</li>
    <li>Jonathan Werk</li>
</ul>

{% if page.lang == "en" %}
<h2>Contact</h2>
<p><a href='/en/home#contact'>Contact us</a> via email, Instagram, or Facebook to discuss any of these opportunities, or talk to us at the next dance!</p>
{% elsif page.lang == "fr" %}
<h2>Contact</h2>
<p><a href='/fr/accueil#coordonnées'>Contactez-nous</a> par courriel, Instagram ou Facebook pour discuter de l'une de ces opportunités, ou parlez-nous lors du prochain danse !</p>
{% endif %}

