<script>
window.onload = function() {
    if (navigator.userAgent.search("Firefox") > 0) {
        var p = document.getElementById('firefox-warning');
        if (p) {
            p.style.display = 'block';
        }
    }
}
</script>

<h1>
{% if page.lang == "en" %}
Mailing List
{% elsif page.lang == "fr" %}
Liste de diffusion
{% endif %}
</h1>

<p>
{% if page.lang == "en" %}
Use this form to sign up for our mailing list. (Approximately 2 emails per month)
{% elsif page.lang == "fr" %}
Utilisez ce formulaire pour vous inscrire à notre liste de diffusion. (Environ 2 courriels par mois)
{% endif %}
</p>

{% include mailchimp_form.html form_id="00cdf2e3f0" %}

<p id=firefox-warning style='display: none'>
{% if page.lang == "en" %}
Firefox users may need to turn off "Enhanced Tracking Protection" for this site in order to sign up using this form. Click the shield icon to the left of the address bar.
{% elsif page.lang == "fr" %}
Les utilisateurs de Firefox devront peut-être désactiver la « Protection renforcée contre le pistage » pour ce site afin de pouvoir s'inscrire via ce formulaire. Cliquez sur l'icône en forme de bouclier à gauche de la barre d'adresse.
{% endif %}
</p>
