<script>
window.onload = function() {
    if (navigator.userAgent.search("Firefox") > 0) {
{% if page.lang == "en" %}
firefox_warning_text = "Firefox users may need to turn off \"Enhanced Tracking Protection\" for this site in order to use the forms on this page. Click the shield icon to the left of the address bar."
{% elsif page.lang == "fr" %}
firefox_warning_text = "Les utilisateurs de Firefox devront peut-être désactiver la « Protection renforcée contre le pistage » pour ce site afin d'utiliser les formulaires de cette page. Cliquez sur l'icône en forme de bouclier à gauche de la barre d'adresse."
{% endif %}
        var p = document.getElementById('firefox-warning');
        if (p) {
            p.style.display = 'block';
            p.innerHTML = firefox_warning_text;
        }
    }
}
</script>
<p id=firefox-warning style='display: none'>
</p>


<h1>
{% if page.lang == "en" %}
Mailing List
{% elsif page.lang == "fr" %}
Liste de diffusion
{% endif %}
</h1>

<p>
{% if page.lang == "en" %}
Use this form to sign up for our regular mailing list. (Approximately 2 emails per month)
{% elsif page.lang == "fr" %}
Utilisez ce formulaire pour vous inscrire à notre liste de diffusion régulière. (Environ 2 courriels par mois)
{% endif %}
</p>

{% include mailchimp_form.html form_id="00cdf2e3f0" tags='<div hidden=""><input type="hidden" name="tags" value="15368739"></div>' %}
<br> <!-- a little bit of extra padding between sections -->

<h2>
{% if page.lang == "en" %}
Bonjour-Hey Mailing List
{% elsif page.lang == "fr" %}
Liste de diffusion pour Bonjour-Hey
{% endif %}
</h2>

<p>
{% if page.lang == "en" %}
Use this form to sign up for our Bonjour-Hey mailing list. (Approximately 4 emails per year)
{% elsif page.lang == "fr" %}
Utilisez ce formulaire pour vous inscrire à notre liste de diffusion pour Bonjour-Hey. (Environ 2 courriels par année)
{% endif %}
</p>
<p>
{% if page.lang == "en" %}
If you are already subscribed to our regular mailing list you will also receive Bonjour-Hey updates. There is no need to subscribe to both!
{% elsif page.lang == "fr" %}
Si vous êtes déjà inscrit à notre infolettre régulière, vous recevrez aussi les nouvelles Bonjour-Hey. Pas besoin de vous abonner aux deux !
{% endif %}
</p>

{% include mailchimp_form.html form_id="00caf3e3f0" tags='<div hidden=""><input type="hidden" name="tags" value="15368604"></div>' %}

