<h1>
{% if page.lang == "en" %}
Other Dance Communities
{% elsif page.lang == "fr" %}
Autres communautés de danse
{% endif %}
</h1>

<p>
{% if page.lang == "en" %}
Want to dance more? Check out these other dance communities!
{% elsif page.lang == "fr" %}
Envie de danser davantage ? Découvrez ces autres communautés de danse !
{% endif %}
</p>

<h2>
{% if page.lang == "en" %}
Nearby Contra Dances
{% elsif page.lang == "fr" %}
Contredanses à proximité
{% endif %}
</h2>
<p><a href="https://ottawacontra.ca/">Ottawa Contra Dance</a></p>
<p><a href="https://queencitycontras.com/">Queen City Contras (Burlington, VT)</a></p>
<p><a href="https://www.facebook.com/ContraQuebec/">ContraQuébec</a></p>
<p><a href="http://tcdance.org/">Toronto Contra Dance</a></p>

<h2>
{% if page.lang == "en" %}
Other Dance Styles
{% elsif page.lang == "fr" %}
Autres styles de danse
{% endif %}
</h2>
<p><a href="https://www.facebook.com/people/Contredanse-anglaise-Montr%C3%A9al/61562592222509/">Contredanse anglaise Montréal</a></p>
<p><a href="https://www.espacetrad.org/activites/veillees-de-danse/">Veillées de danse à Montréal</a></p>
<p><a href="https://www.balfolkmontreal.com/">Balfolk Montréal</a></p>
<p><a href="https://siamsa.org/en/ceilis">SIAMSA Céilís</a></p>
