<h1>
{% if page.lang == "en" %}
Other Dance Communities
{% elsif page.lang == "fr" %}
Autres communautés de danse
{% endif %}
</h1>

<p>
{% if page.lang == "en" %}
Want to dance more? Check out these other dance communities!
{% elsif page.lang == "fr" %}
Envie de danser davantage ? Découvrez ces autres communautés de danse !
{% endif %}
</p>

<h2>
{% if page.lang == "en" %}
Search for dances anywhere in Canada and the US
{% elsif page.lang == "fr" %}
Rechercher des danses n'importe où au Canada et aux Etats-Unis
{% endif %}
</h2>
<p><a href="https://www.trycontra.com">Try Contra</a></p>

<h2>
{% if page.lang == "en" %}
Nearby Contra Dances
{% elsif page.lang == "fr" %}
Contredanses à proximité
{% endif %}
</h2>
<p><a href="https://ottawacontra.ca/">Ottawa Contra Dance</a></p>
<p><a href="https://queencitycontras.com/">Queen City Contras (Burlington, VT)</a></p>
<p><a href="https://www.facebook.com/ContraQuebec/">ContraQuébec</a></p>
<p><a href="http://tcdance.org/">Toronto Contra Dance</a></p>

<h2>
{% if page.lang == "en" %}
Other Canadian Contra Dances
{% elsif page.lang == "fr" %}
Autres Contredanses au Canada
{% endif %}
</h2>
<p><a href="https://www.halifaxcontra.ca/">Halifax Contra Dance</a></p>
<p><a href="https://www.facebook.com/HamiltonFridayContradance/">Hamilton Friday Contradance</a></p>
<p><a href="https://www.facebook.com/drumlincontradances/">Drumlin Contra Dances (Fergus, ON)</a></p>
<p><a href="https://fiddlefern.ca/">Fiddlefern Country Dancers (Owen Sound, ON)</a></p>
<p><a href="https://contradancecalgary.weebly.com/">Contra Dance Calgary</a></p>
<p><a href="https://www.facebook.com/groups/159845347401603/">Vancouver Contra Dance</a></p>
<p><a href="https://www.victoriacontradance.com/">Victoria Contra Dance</a></p>

<h2>
{% if page.lang == "en" %}
Canadian and Nearby American Contra Dance Weekends
{% elsif page.lang == "fr" %}
Fins de semaine de contredanses au Canada et à proximité aux Etats-Unis
{% endif %}
</h2>
<p><a href="https://ottawacontra.ca/heyfever/">Hey Fever (Ottawa, ON), Oct/Nov</a></p>
<p><a href="https://www.tcdance.org/">Spring Thaw (Toronto, ON), April/May</a></p>
<p><a href="https://www.flurryfestival.org/">The Flurry Festival (Saratoga Springs, NY), February</a></p>
<p><a href="https://www.neffa.org/festival-home/">NEFFA (Marlborough, MA), April</a></p>
<p><a href="https://youthdanceweekend.org/">Youth Dance Weekend (Fairlee, VT), September</a></p>
<p><a href="https://chehalisdancecamp.com/">Chehalis Contra Dance Camp (Surrey, BC), September</a></p>


<h2>
{% if page.lang == "en" %}
Other Dance Styles in Montreal
{% elsif page.lang == "fr" %}
Autres styles de danse à Montréal
{% endif %}
</h2>
<p><a href="https://www.facebook.com/people/Contredanse-anglaise-Montr%C3%A9al/61562592222509/">Contredanse anglaise Montréal</a></p>
<p><a href="https://www.espacetrad.org/activites/veillees-de-danse/">Veillées de danse à Montréal</a></p>
<p><a href="https://www.balfolkmontreal.com/">Balfolk Montréal</a></p>
<p><a href="https://siamsa.org/en/ceilis">SIAMSA Céilís</a></p>
