<h1>
{% if page.lang == "en" %}
Bonjour-Hey Contra Dance Weekend
{% elsif page.lang == "fr" %}
Bonjour-Hey fin de semaine de contredanse
{% endif %}
</h1>

<img class="banner-img" alt="Bonjour-Hey logo" src="/assets/images/BonjourHey.png">

<p class="center-highlight">
<span class="big">
{% if page.lang == "en" %}
April 17-19, 2026
{% elsif page.lang == "fr" %}
17-19 avril 2026
{% endif %}
</span>
<br>Genticorum (Pascal Gemme, Yann Falquet &amp; Nicholas Williams)
<br>Cedar Stanistreet, Eric McDonald &amp; Grace Hendrickson-Jones
<br>Bev Bernbaum
<br>Luke Donforth
<br>Centre Saint-Barthélemy, Montreal, QC
</p>
<p class="center-highlight">
{% if page.lang == "en" %}
<a class="register-button" href="https://forms.gle/JHFaVwkS7xKGA7Wn7">
Register Now
</a>
{% elsif page.lang == "fr" %}
<a class="register-button" href="https://forms.gle/HXKPcNq4FRVa4pdr8">
Inscrivez-vous
</a>
{% endif %}
</p>

{% if page.lang == "en" %}
<p>Join us for our first annual contra dance weekend here in Montreal!</p>
{% elsif page.lang == "fr" %}
<p>Joignez-vous à nous pour notre première fin de semaine annuelle de danse contra ici à Montréal !</p>
{% endif %}

{% if page.lang == "en" %}
<p>Interested but not ready to register? <a href="/en/mailing-list">Join our Bonjour-Hey mailing list</a> to stay up-to-date.</p>
{% elsif page.lang == "fr" %}
<p>Intéressé mais pas prêt à vous inscrire ? <a href="/fr/liste-de-diffusion">Rejoignez notre liste de diffusion Bonjour-Hey</a> pour rester informé.</p>
{% endif %}

{% if page.lang == "en" %}
<h2>Date</h2>
<p>Bonjour-Hey will take place the weekend of <strong>April 17-19, 2026.</strong></p>
{% elsif page.lang == "fr" %}
<h2>Date</h2>
<p>Bonjour-Hey aura lieu la fin de semaine du <strong>17 au 19 avril 2026</strong>.</p>
{% endif %}

<h2>Talent</h2>

<div class="imgparagraph forward">
<img src="/assets/images/genticorum.webp" alt="Photo of Genticorum" />
{% if page.lang == "en" %}
<p><a href="https://www.genticorum.com/english"><strong>Genticorum</strong></a> is among the most distinctive voices of Québécois traditional music. Founded in 2000, when fiddler Pascal Gemme and guitarist Yann Falquet met in Montreal’s trad scene, Genticorum quickly earned international recognition for bringing out all the poetry and nuance of French Canada’s old songs and step-dance tunes. In 2015, Nicholas Williams added his flute and accordion to the mix. Their compositions have become beloved standards at dances and sessions, their approach influencing peers and younger musicians alike. They’ve won Canadian Folk Music Awards and performed everywhere from Scotland to Malaysia, Egypt to Australia. With impeccable musicianship and infectious joie de vivre, Genticorum is bound to draw you in.</p>
{% elsif page.lang == "fr" %}
<p><a href="https://www.genticorum.com/francais"><strong>Genticorum</strong></a> Avec ses nominations aux Juno et à l’ADISQ, et ses quatre Prix de Musique Folk Canadienne, Genticorum est parmi les groupes phares de la musique traditionnelle québécoise. Pascal Gemme (violon) et Yann Falquet (guitare), les deux membres fondateurs du trio sont également reconnus individuellement pour leur solide contribution à la scène musicale trad. Ils sont rejoints depuis 2015 par le multi-instrumentiste virtuose et compositeur Nicholas Williams (flute, accordéon); le plaisir qu'ont ces trois musiciens à jouer et créer ensemble est palpable, autant sur scène que sur disque.</p>
{% endif %}
</div>

<div class="imgparagraph reverse">
<img src="/assets/images/GraceCedarEric.jpg" alt="Photo of Cedar, Grace, and Eric" />
{% if page.lang == "en" %}
<p><strong>Cedar Stanistreet, Eric McDonald &amp; Grace Hendrickson-Jones</strong> </p>
{% elsif page.lang == "fr" %}
<p><strong>Cedar Stanistreet, Eric McDonald &amp; Grace Hendrickson-Jones</strong> </p>
{% endif %}
</div>

<div class="imgparagraph forward">
<img src="/assets/images/BevBernbaum.jpg" alt="Photo of Bev Bernbaum" />
{% if page.lang == "en" %}
<p><strong>Bev Bernbaum</strong> (Peterborough, ON Canada) has been addicted to all things contra since she was first introduced to it as a dancer at the wonderful Falcon Ridge Folk Festival (Albany, NY) in the summer of 1996. Since then, Bev has been in demand as a caller in her home town, at other dances, dance weekends and camps across Canada, the US, New Zealand, Denmark, Scotland and the Czech Republic. 
<br>
Communities seek Bev out to provide a great experience for their dancers. Her easy going style has also made her a popular choice with bands. Bev's philosophy is to call dances that she loves to dance herself. She's always on the lookout for interesting figures or formations to mix things up. Her clear voice, calm manner and straightforward teaching style make dancing a pleasure for both beginning and experienced dancers.</p>
{% elsif page.lang == "fr" %}
<p><strong>Bev Bernbaum</strong> (Peterborough, ON Canada) est passionnée par tout ce qui touche à la contredanse depuis qu'elle l'a découverte en tant que danseuse lors du merveilleux Falcon Ridge Folk Festival (Albany, New York) à l'été 1996. Depuis lors, Bev est très demandée comme calleuse dans sa ville natale, lors d'autres bals, week-ends de danse et camps à travers le Canada, les États-Unis, la Nouvelle-Zélande, le Danemark, l'Écosse et la République tchèque.
<br>
Les communautés font appel à Bev pour offrir une expérience inoubliable à leurs danseurs. Son style décontracté la rend également très populaire auprès des groupes musicaux. La philosophie de Bev est de caller les danses qu'elle aime elle-même danser. Elle est toujours à la recherche de figures ou de formations intéressantes pour varier les plaisirs. Sa voix claire, son calme et son style d'enseignement direct font de la danse un plaisir pour les danseurs débutants comme pour les danseurs expérimentés.</p>
{% endif %}
</div>

<div class="imgparagraph reverse">
<img src="/assets/images/LukeDonforth.jpg" alt="Photo of Luke Donforth" />
{% if page.lang == "en" %}
<p><strong>Luke Donforth</strong> is a contra caller and choreographer based in Burlington, VT. He brings a warmth to the mic and focuses on facilitating everyone in the hall joyously moving to the music. He's a founding member of the Mad Robin Callers Collective, and calls everything from family dances to festivals. Luke is a prolific writer of dances, and you can expect new and classic compositions to keep your feet flying.</p>
{% elsif page.lang == "fr" %}
<p><strong>Luke Donforth</strong> est un chorégraphe et calleur de contredanse basé à Burlington, au Vermont. Il apporte une touche chaleureuse au micro et s'efforce de faire danser joyeusement tous les participants au rythme de la musique. Membre fondateur du collectif Mad Robin Callers, il calle des soirées dansantes aussi variées que familiales et des festivals. Auteur prolifique de danses, Luke vous promet des compositions inédites et classiques qui vous feront danser.</p>
{% endif %}
</div>

{% if page.lang == "en" %}
<h2>Venue</h2>
<div class="imgparagraph forward">
<img src="/assets/images/centre-saint-barthelemy.jpg" alt="" />
<p>We will be dancing at <a href="https://maps.app.goo.gl/Vz2wgAALjtgGgFYGA">Centre Saint-Barthélemy, 7111 avenue des Érables, Montréal</a>. This fabulous and recently renovated building has an original wood floor and is just steps from the D'Iberville and Fabre metro stations and many restaurants, with a park across the street.</p>
</div>
<div>
<p>Unfortunately there is no step-free access to the hall at this time; it requires climbing about two dozen steps. The venue has applied for a permit to construct an elevator, but we cannot guarantee it will be ready for our 2026 dance.</p>
</div>
{% elsif page.lang == "fr" %}
<h2>Lieu</h2>
<div class="imgparagraph forward">
<img src="/assets/images/centre-saint-barthelemy.jpg" alt="" />
<p>Nous danserons au <a href="https://maps.app.goo.gl/Vz2wgAALjtgGgFYGA">Centre Saint-Barthélemy, 7111 avenue des Érables, Montréal</a>. Ce magnifique édifice récemment rénové à un planché en bois original et est situé à deux pas des stations de métro D'Iberville et Fabre et plusieurs restaurants, avec un parc en face.</p>
</div>
<div>
<p>Malheureusement, il n'y a pas d'accès sans marches à la salle pour le moment ; il faut monter une vingtaine de marches. La salle a fait une demande de permis pour la construction d'un ascenseur, mais on ne peut pas garantir qu'il sera prêt pour notre évènement de 2026.</p>
</div>
{% endif %}

{% if page.lang == "en" %}
<h2>Roles</h2>
<p>Calling will use Larks and Robins. Everyone is welcome, and anyone may dance any role.</p>
{% elsif page.lang == "fr" %}
<h2>Rôles</h2>
<p>Nous allons utiliser les rôles Larks et Robins. Tout le monde est le bienvenu et n'importe qui peut danser n'importe quel rôle.</p>
{% endif %}

{% if page.lang == "en" %}
<h2>Schedule</h2>
<p>Friday: 7:00 p.m. &ndash; 11:15 p.m.<br>
Saturday: 9:30 a.m. &ndash; 11:15 p.m.<br>
Sunday: 11:15 a.m. &ndash; 4:00 p.m.</p>
<p>Dancing will start and end at the times listed, with regular breaks, plus meal breaks on Saturday. A more detailed schedule will be available closer to the event.</p>
{% elsif page.lang == "fr" %}
<h2>Horaire</h2>
<p>Vendredi: 19h00 &ndash; 23h15<br>
Samedi: 9h30 &ndash; 23h15<br>
Dimanche: 11h15 &ndash; 16h00</p>
<p>Les danses commenceront et se termineront aux heures indiquées, avec des pauses régulières et des pauses-repas le samedi. Un programme plus détaillé sera disponible à l'approche de l'événement.</p>
{% endif %}

{% if page.lang == "en" %}
<h2>Pricing</h2>
<p>Please pay after submitting the registration form. Your registration is not complete until we receive your payment!</p>
<p>We have separate pricing for Canadian Dollars and United States Dollars to account for different transaction fees.</p>
<p>If you would like to use another method to pay we can probably accomodate you. Please email us.</p>
<table>
  <tr>
    <th></th>
    <th>Until Jan 4</th>
    <th>From Jan 5</th>
  </tr>
  <tr>
    <td>CAD</td>
    <td>$145</td>
    <td>$165</td>
  </tr>
  <tr>
    <td>USD</td>
    <td>$110</td>
    <td>$125</td>
  </tr>
</table>
<h3>Canadian Dollars</h3>
<p>Intended for Canadians or anyone with access to Interac e-Transfer. Pay by sending an e-Transfer to bonjour-hey@contramontreal.org</p>
<ul>
<li>Early bird (up to January 4): CA$145 for adults (ages 18 and up). CA$70 for ages 11-17. Free for ages 10 and under.</li>
<li>Regular price (starting January 5): CA$165 for adults (ages 18 and up). CA$80 for ages 11-17. Free for ages 10 and under.</li>
</ul>
<h3>United States Dollars</h3>
<p>Intended for Americans or any other international visitors. Pay at <a href="https://buy.stripe.com/4gM5kC9qKbNEeFR2qC3sI02">this Stripe page</a>. Stripe accepts all major credit cards.</p>
<ul>
<li>Early bird (up to January 4): US$110 for adults (ages 18 and up). US$55 for ages 11-17. Free for ages 10 and under.</li>
<li>Regular price (starting January 5): US$125 for adults (ages 18 and up). US$60 for ages 11-17. Free for ages 10 and under.</li>
</ul>
<h3>Refund policy</h3>
<p>Email us to cancel your registration. We will refund your registration cost (minus transaction fees) if any of the following are true:</p>
<ul>
    <li>You cancel your registration before February 20, or</li>
    <li>We are sold out and we can fill your place, or</li>
    <li>You are sick&mdash; Please don't come if you are sick!</li>
</ul>
{% elsif page.lang == "fr" %}
<h2>Tarifs</h2>
<p>Veuillez payer après avoir soumis le formulaire d'inscription. Votre inscription ne sera confirmée qu'après réception de votre paiement !</p>
<p>Nous avons des tarifs distincts pour les dollars canadiens et les dollars américains afin de tenir compte des différents frais de transaction.</p>
<p>Si vous souhaitez utiliser un autre mode de paiement, nous pouvons probablement vous aider. Veuillez nous contacter par courriel.</p>
<table>
  <tr>
    <th></th>
    <th>Jusqu'au 4 jan</th>
    <th>Dès 5 jan</th>
  </tr>
  <tr>
    <td>CAD</td>
    <td>145 $</td>
    <td>165 $</td>
  </tr>
  <tr>
    <td>USD</td>
    <td>110 $</td>
    <td>125 $</td>
  </tr>
</table>
<h3>Dollars canadiens</h3>
<p>Destiné aux Canadiens et à toute personne ayant accès au Virement Interac. Payez en envoyant un virement à bonjour-hey@contramontreal.org.</p>
<ul>
<li>Lève-tôt (jusqu'au 4 janvier): 145 $CA pour les adultes (18 ans et plus). 70 $CA pour les 11 à 17 ans. Gratuit pour les 10 ans et moins.</li>
<li>Prix régulier (dès le 5 janvier): 165 $CA pour les adultes (18 ans et plus). 80 $CA pour les 11 à 17 ans. Gratuit pour les 10 ans et moins.</li>
</ul>
<h3>Dollars américains</h3>
<p>Destiné aux Américains et autres visiteurs internationaux. Payez sur <a href="https://buy.stripe.com/4gM5kC9qKbNEeFR2qC3sI02">cette page Stripe</a>. Stripe accepte toutes les principales cartes de crédit.</p>
<ul>
<li>Lève-tôt (jusqu'au 4 janvier): 110 $US pour les adultes (18 ans et plus). 55 $US pour les 11 à 17 ans. Gratuit pour les 10 ans et moins.</li>
<li>Prix régulier (dès le 5 janvier): 125 $US pour les adultes (18 ans et plus). 60 $US pour les 11 à 17 ans. Gratuit pour les 10 ans et moins.</li>
</ul>
<h3>Politique de remboursement</h3>
<p>Envoyez-nous un courriel pour annuler votre inscription. Nous vous rembourserons le coût de votre inscription (excluant les frais de transaction) si l'une des conditions suivantes est remplie:</p>
<ul>
    <li>Vous annulez votre inscription avant le 20 février, ou</li>
    <li>Nous sommes complets et nous pouvons combler votre place, ou</li>
    <li>Vous êtes malade&mdash; S’il vous plaît, ne venez pas si vous êtes malade !</li>
</ul>
{% endif %}

{% if page.lang == "en" %}
<h2>Transportation</h2>
<p>No matter how you come to Montreal, we recommend you use public transit to get to the hall. You can buy an <a href="https://www.stm.info/en/info/fares/transit-fares/unlimited-weekend">unlimited weekend pass</a> or a three-day pass at the airport or any metro station. We are a short walk from Fabre and D'Iberville metro stations. If you drive be aware many street parking spots are for residents only. We encourage you not to rent a car while here, public transit is the fastest and easiest way to get around!</p>
{% elsif page.lang == "fr" %}
<h2>Transport</h2>
<p>Quel que soit votre moyen de transport pour vous rendre à Montréal, nous vous recommandons d'utiliser le transport en commun pour vous rendre à la salle. Vous pouvez acheter un <a href="https://www.stm.info/fr/tarifs/titres-de-transport/week-end-illimite">titre de week-end illimité</a> ou un titre de trois jours à l'aéroport ou dans n'importe quelle station de métro. Nous sommes à quelques pas des stations de métro Fabre et D'Iberville. Si vous conduisez, sachez que de nombreuses places de stationnement dans la rue sont réservées aux résidents. Nous vous déconseillons de louer une voiture pendant votre séjour : le transport en commun est le moyen de transport le plus rapide et le plus simple pour vous déplacer !</p>
{% endif %}

{% if page.lang == "en" %}
<h2>Housing and Meals</h2>
<p>Housing and meals are not included in your registration. There are many great restaurants a short walk from the hall, and some grocery stores nearby, as well as the famous Jean-Talon public market a short hop west on the 93 bus or the metro. The hall will be open during meal breaks to eat your own food, and there is a nice park behind the hall. There are no hotels near the hall, but there are many options downtown, among other areas. We have no preferred rate with any hotel.</p>
{% elsif page.lang == "fr" %}
<h2>Logement et repas</h2>
<p>L'hébergement et les repas ne sont pas inclus dans votre inscription. Vous trouverez de nombreux excellents restaurants à quelques pas de la salle de danse, ainsi que quelques épiceries à proximité, et le célèbre marché public Jean-Talon est accessible en quelques minutes à l'ouest par l'autobus 93 ou le métro. La salle de danse sera ouverte pendant les pauses-repas pour vous permettre de manger vos propres repas, et un joli parc se trouve derrière la salle de danse. Il n'y a pas d'hôtel à proximité, mais de nombreuses options s'offrent à vous au centre-ville, entre autres. Nous n'offrons aucun tarif préférentiel avec les hôtels.</p>
{% endif %}

{% if page.lang == "en" %}
<h2>International visitors</h2>
<p>Montreal welcomes millions of tourists every year and you'll have no trouble getting by even if you don't speak French, but feel free to dust off your French and a smile. We encourage you to explore our lovely city before, during and after our weekend. We're happy to answer any questions and help make your visit a memorable one!</p>
<p>And don't forget your passport!</p>
{% elsif page.lang == "fr" %}
{% endif %}

{% if page.lang == "en" %}
<h2>More to come!</h2>
<p>We have lots of ideas for how to make this a memorable weekend, and we will post them once confirmed. If you have any suggestions, or want to help, please reach out.</p>
{% elsif page.lang == "fr" %}
<h2>Plus à venir !</h2>
<p>Nous avons plein d'idées pour faire de ce week-end un moment inoubliable, et nous les publierons dès confirmation. Si vous avez des suggestions ou souhaitez nous aider, n'hésitez pas à nous contacter.</p>
{% endif %}

{% if page.lang == "en" %}
<h2>Contact</h2>
<p>Email us at <a href="mailto:bonjour-hey@contramontreal.org">bonjour-hey@contramontreal.org</a></p>
{% elsif page.lang == "fr" %}
<h2>Contactez-nous</h2>
<p>Envoyez-nous un courriel à <a href="mailto:bonjour-hey@contramontreal.org">bonjour-hey@contramontreal.org</a></p>
{% endif %}

