<nav class="nav">
    <div class="nav-left">
        <div class="nav-logo">
            {% if page.lang == "en" %}
            <a href="{{site.baseurl}}/home"><img src="{{site.baseurl}}/assets/images/logo.jpg"></a>
            {% elsif page.lang == "fr" %}
            <a href="{{site.baseurl}}/acceuil"><img src="{{site.baseurl}}/assets/images/logo.jpg"></a>
            {% endif %}
        </div>
    </div>

    <div class="nav-right">
        {% for nav in site.data.navigation %}
        <span class="nav-link">
            {% if page.lang == "en" %}
            <a href="{{site.baseurl}}{{nav.target.en}}">{{ nav.name.en }}</a>
            {% elsif page.lang == "fr" %}
            <a href="{{site.baseurl}}{{nav.target.fr}}">{{ nav.name.fr }}</a>
            {% endif %}
        </span>
        {% endfor %}

        <span class="nav-link" id="nav-lang-switch">
            {% if page.lang == "en" %}
            <a href="{{site.baseurl}}{{page.translation}}">Français</a>
            {% elsif page.lang == "fr" %}
            <a href="{{site.baseurl}}{{page.translation}}">English</a>
            {% endif %}
        </span>
    </div>
</nav>
