<nav class="nav">
    <div class="nav-left">
        <div class="nav-logo">
            {% if page.lang == "en" %}
            <a href="/en/home"><img src="/assets/images/logo.jpg"></a>
            {% elsif page.lang == "fr" %}
            <a href="/fr/accueil"><img src="/assets/images/logo.jpg"></a>
            {% endif %}
        </div>
    </div>

    <div class="nav-right">
        <div class="nav-item">
            {% if page.lang == "en" %}
            <a href="/en/home">Home</a>
            {% elsif page.lang == "fr" %}
            <a href="/fr/accueil">Accueil</a>
            {% endif %}
        </div>

        <div class="nav-item">
            {% if page.lang == "en" %}
            <a href="/en/bonjour-hey">Bonjour-Hey</a>
            {% elsif page.lang == "fr" %}
            <a href="/fr/bonjour-hey">Bonjour-Hey</a>
            {% endif %}
        </div>

        <div class="dropdown nav-item">
            <div class="dropdown-trigger">
                {% if page.lang == "en" %}
                <a>About ▾</a>
                {% elsif page.lang == "fr" %}
                <a>À propos ▾</a>
                {% endif %}
            </div>
            <div class="dropdown-content">
                {% for nav in site.data.about_items %}
                <div class="nav-item">
                    {% if page.lang == "en" %}
                    <a href="{{nav.target.en}}">{{ nav.name.en }}</a>
                    {% elsif page.lang == "fr" %}
                    <a href="{{nav.target.fr}}">{{ nav.name.fr }}</a>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="nav-item" id="nav-lang-switch">
            {% if page.lang == "en" %}
            <a href="{{page.translation}}">Français</a>
            {% elsif page.lang == "fr" %}
            <a href="{{page.translation}}">English</a>
            {% endif %}
        </div>
    </div>
</nav>
