---
---
/* cayman */
@import "cayman";
.page-header {
    display: none
}
.site-footer {
    display: none
}

/* custom css */
body {
    background-color: #96b5e4;
}
main {
    background-color: white;
}

nav {
    background-color: white;
    height: 5rem;
}
.nav-left {
    float: left;
}
.nav-right {
    float: right;
    transform: translateY(calc(2rem - 50%));
}
.nav-logo img {
    height: 4rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.nav-item {
    display: inline-block;
    background-color: white;
    text-align: center;
    padding: 1rem;
}
nav .dropdown {
    position: relative;
}
nav .dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 20ch;
}
nav .dropdown-content .nav-item {
    display: block;
    width: 100%;
    margin: 0;
}
nav .dropdown:hover .dropdown-content {
    display: block;
}

.dance-card {
    background-color: $code-bg-color;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.dance-special {
    color: red;
    font-weight: bold;
}
.dance-date {
    font-weight: bold;
}
.past-dance {
    display: none; // Show with button click
    opacity: 50%;
}
.show-hide-button {
    color: $body-link-color;
    background-color: $code-bg-color;
    border: 1px solid $body-link-color;
    border-radius: 5px;
}
.show-hide-button:hover {
    opacity: 50%;
}

.banner-img, .footer-img {
    width: 100%;
}

