---
---
/* cayman */
@import "cayman";

$accent-text-color: #cc1c74 !default;

.page-header {
    display: none
}
.site-footer {
    display: none
}

/* custom css */
body {
    background-color: #96b5e4;
}
main {
    background-color: white;
    position: relative;
    z-index: 1;
}

/* navigation */
nav {
    background-color: white;
    height: 5rem;
}
.nav-left {
    float: left;
}
.nav-right {
    float: right;
}
.nav-logo img {
    height: 4rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}
.nav-item {
    display: inline-block;
    background-color: white;
    text-align: center;
    padding: 1rem;
}
nav .dropdown {
    position: relative;
}
nav .dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 20ch;
}
nav .dropdown-content .nav-item {
    display: block;
    width: 100%;
    margin: 0;
}
nav .dropdown:hover .dropdown-content {
    display: block;
}

.dance-card {
    background-color: $code-bg-color;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    padding-left: 0.75rem;
    border-radius: 0.75rem;
}
.dance-special {
    color: $accent-text-color;
    font-weight: bold;
}
.dance-date {
    font-weight: bold;
}
.hide-dance-card {
    display: none;
}

.banner-img, .footer-img {
    width: 100%;
}

.center-highlight {
    text-align: center;
    text-wrap-style: balance;
    color: $accent-text-color;
    font-weight: bold;
    font-size: 1.5rem;
    container-type: inline-size;
}
.center-highlight p {
    margin: 0;
}
@container (width < 56ch) {
    /* 56ch is measured to be about the length of Genticorum's line; if the
     * container is narrower, it's likely the text is wrapping. */
    .center-highlight p + p {
        margin-top: 0.5em;
    }
}
.center-highlight .big {
    font-size: 2rem;
}
.no-break-spans span {
  text-wrap-mode: nowrap;
}
.register-button {
    text-align: center;
    background-color: $header-bg-color-secondary;
    color: #fff;
    font-size: 1.25rem;
    padding: .75rem;
    border-radius: 10px;
    border: none;
}
.register-button:hover {
    text-decoration: none;
    opacity: 85%;
}

.imgparagraph {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.imgparagraph p {
    flex: 1;
}
.imgparagraph.reverse {
    flex-direction: row-reverse;
}
.imgparagraph * {
    margin-top: 0;
    margin-bottom: 1rem;
}
.imgparagraph.forward > *:first-child,
.imgparagraph.reverse > *:last-child {
    margin-left: 0;
    margin-right: 1rem;
}
.imgparagraph.forward > *:last-child,
.imgparagraph.reverse > *:first-child {
    margin-left: 1rem;
    margin-right: 0;
}
.imgparagraph img {
    max-width: 300px;
    height: auto;
}
@media screen and (max-width:42em) {
.imgparagraph p {
    flex-basis: 100%;
}
.imgparagraph * {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
.imgparagraph img {
    max-width: 100%;
    max-height: 300px;
    width: auto;
}
}

/* Mailchimp form */
#mc_embed_signup {
  width: 100%;
  max-width: 100%;
}
#mc_embed_shell {
  position: relative;
  z-index: -1;
}

table td, table th {
  border: none !important;
}
