<h1>
{% if page.lang == "en" %}
Bonjour-Hey Contra Dance Weekend
{% elsif page.lang == "fr" %}
Bonjour-Hey Fin de semaine de contredanse
{% endif %}
</h1>

<p class="center-highlight">
<span class="big">
{% if page.lang == "en" %}
April 17-19, 2026
{% elsif page.lang == "fr" %}
17-19 Avril 2026
{% endif %}
</span>
<br>Caller 1
<br>Caller 2
<br>Band 1
<br>Band 2
<br>Centre Saint-Barthélemy, Montreal, QC
</p>
<p class="center-highlight">
<a class="register-button" href="#">
{% if page.lang == "en" %}
Register Now
{% elsif page.lang == "fr" %}
Inscrivez-vous
{% endif %}
</a>
</p>

{% if page.lang == "en" %}
<p>Join us for our first annual contra dance weekend here in Montreal!</p>
{% elsif page.lang == "fr" %}
<p></p>
{% endif %}

{% if page.lang == "en" %}
<p>Interested but not ready to register? Join our Bonjour-Hey mailing list.</p>
{% elsif page.lang == "fr" %}
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Date</h2>
<p>Bonjour-Hey will take place the weekend of <strong>April 17-19, 2026.</strong></p>
{% elsif page.lang == "fr" %}
<h2>17-19 Avril 2026</h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Talent</h2>
<div class="imgparagraph forward">
<img src="{{site.baseurl}}/assets/images/OpenBand.jpg" alt="" />
<p><strong>Band 1</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis nisi metus. In eget sem sit amet erat molestie ullamcorper. Nulla ullamcorper scelerisque turpis ac suscipit. Vivamus consequat malesuada mattis. Suspendisse pellentesque porta massa, sit amet posuere turpis semper ac. Etiam at finibus diam. Mauris aliquet, erat sed sollicitudin hendrerit, felis ex sodales eros, egestas consectetur turpis erat et dolor.</p>
</div>
<div class="imgparagraph reverse">
<img src="{{site.baseurl}}/assets/images/OpenBand.jpg" alt="" />
<p><strong>Band 2</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis nisi metus. In eget sem sit amet erat molestie ullamcorper. Nulla ullamcorper scelerisque turpis ac suscipit. Vivamus consequat malesuada mattis. Suspendisse pellentesque porta massa, sit amet posuere turpis semper ac. Etiam at finibus diam. Mauris aliquet, erat sed sollicitudin hendrerit, felis ex sodales eros, egestas consectetur turpis erat et dolor.</p>
</div>
<div class="imgparagraph forward">
<img src="{{site.baseurl}}/assets/images/OpenBand.jpg" alt="" />
<p><strong>Caller 1</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis nisi metus. In eget sem sit amet erat molestie ullamcorper. Nulla ullamcorper scelerisque turpis ac suscipit. Vivamus consequat malesuada mattis. Suspendisse pellentesque porta massa, sit amet posuere turpis semper ac. Etiam at finibus diam. Mauris aliquet, erat sed sollicitudin hendrerit, felis ex sodales eros, egestas consectetur turpis erat et dolor.</p>
</div>
</div>
<div class="imgparagraph reverse">
<img src="{{site.baseurl}}/assets/images/OpenBand.jpg" alt="" />
<p><strong>Caller 2</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis nisi metus. In eget sem sit amet erat molestie ullamcorper. Nulla ullamcorper scelerisque turpis ac suscipit. Vivamus consequat malesuada mattis. Suspendisse pellentesque porta massa, sit amet posuere turpis semper ac. Etiam at finibus diam. Mauris aliquet, erat sed sollicitudin hendrerit, felis ex sodales eros, egestas consectetur turpis erat et dolor.</p>
</div>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Roles</h2>
<p>Calling will use Larks and Robins. Everyone is welcome, and anyone may dance any role.</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Location</h2>
<p>We will be dancing at <a href="https://maps.app.goo.gl/Vz2wgAALjtgGgFYGA">Centre Saint-Barthélemy, 7111 avenue des Érables, Montréal</a>. This fabulous and recently renovated building is just steps from the Fabre and D'Iberville metro stations. The only entrance is on avenue des Érables.</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Transportation</h2>
<h3>Public Transit</h3>
<p>We recommend taking the metro to and from the hall. D'Iberville and Fabre metro stations are just around the corner, and trains operate every 10 minutes or better all weekend until at least 00:30, and 1 am on Saturday. Buy an <a href="https://www.stm.info/en/info/fares/transit-fares/unlimited-weekend">Unlimited Weekend pass</a> at machines at the airport or any metro station for just $16.75, valid for all transit between Friday at 4 p.m. to Monday at 5 a.m., including the airport 747 express bus, or a <a href="https://www.stm.info/en/info/fares/transit-fares/3-day-all-modes">three-day pass</a>, valid for three calendar days, for $21.75!</p>
<h3>Driving</h3>
<p>While we recommend you park your car for the weekend and enjoy Montreal like locals, by taking transit, or using our wonderful bike share system, <a href="https://bixi.com/en/">Bixi</a>, if you do drive, a few useful notes for differences in driving in Montreal:</p>
<ul>
  <li>You may never turn right on red on the Island of Montreal;</li>
  <li>A sign with a green circle indicates a mandatory direction: if there is, e.g., a straight arrow within a green circle and 6-22h under it, you must go straight and cannot turn between 6 a.m. and 10 p.m., and there are many such signs; mapping apps, downloaded for offline use, usually know these restrictions;</li>
  <li>A flashing green light indicates a protected signal, allowing you to go in any legal direction without fear of oncoming traffic, including turning left;</li>
  <li>Speed limits are in kilometres, and there are photo radar and red light cameras;</li>
  <li>You must yield to any bus changing lanes, including pulling out of a stop when the light turns green;</li>
  <li>Please be mindful of people walking and biking; there will likely be many, many more than you are used to, and patience is a virtue;</li>
  <li>Parking is often confusing, and we have no reserved parking at the hall. Parking on commercial streets will usually be time limited during the day and evening, and often is paid during those times; if there is a black post with a blue square and number, pay at the parking machine located on that or a nearby block or <a href="https://www.agencemobilitedurable.ca/en/practical-info/mobicite">use the app</a>. Parking on side streets is free, but besides other common restrictions you may not park in residential zones. Near the hall, residential zones will be on parts of each side of each block, marked with signs with red squares, and arrows on those signs will delimitate where the zone starts and ends. If you are staying downtown, you could save money and hassle parking near the hall over the weekend and using transit to get back to your hotel. If you have any questions, feel free to ask one of us.</li>
</ul>
<h3>Getting Here</h3>
<p>We expect most people to drive, fly, bus or train to Montreal. Our train station is downtown and serves Canadian cities with Via and New York with Amtrak. Buses serve Canadian cities, New York and Boston on a variety of carriers. Montreal has a large international airport with over 150 destinations in over 50 countries, with an express bus, the 747, to downtown, as well as taxis and major ridehails.</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}



{% if page.lang == "en" %}
<h2>Pricing</h2>
<p>$1XXCAD/$1XXUSD Early bird (Until Month Day)</p>
<p>$1XXCAD/$1XXUSD Regular</p>
<p>Canadians please pay in CAD with Interac e-Transfer</p>
<p>Americans please pay in USD via PayPal</p>
<p>Further instructions will be sent after registration</p>
<p>We may be able to accept other methods of payment if necessary</p>
<p>Refund policy</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Schedule</h2>
<p>Friday 6pm - 11pm</p>
<p>Saturday 9am - 11pm</p>
<p>Sunday 12pm - 5pm</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Housing and Meals</h2>
<p>Housing and meals are not included in your registration. There are many great restaurants a short walk from the hall, and some grocery stores nearby, as well as the famous Jean-Talon public market a short hop on the 93 bus. The hall will be open during meal breaks to eat your own food, and there is a nice park behind the hall. There are no hotels near the hall, but there are many options downtown, among other areas. We have no preferred rate with any hotel.</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Accessibility</h2>
<p>Unfortunately there is no step-free access to the hall at this time; it requires climbing about two dozen steps. The venue has applied for a permit to construct an elevator, but we cannot guarantee it will be ready for our 2026 dance.</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>International visitors</h2>
<p>Don't forget your passport. You can withdraw Canadian dollars here, but nearly all establishments accept Visa and Mastercard; some accept American Express; fewer will accept US dollar bills, usually at a disadvantageous rate. A 15% sales tax is added to prices you see, and it is customary to tip 15% in bars and sit-down restaurants. Nearly all retail workers can speak English and French, so you shouldn't be worried about communication issues, but feel free to dust off your French and a smile.</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Contact</h2>
<p>Email us at <a href="mailto:info@contramontreal.org">info@contramontreal.org</a></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

