<h1>
{% if page.lang == "en" %}
Bonjour-Hey Contra Dance Weekend
{% elsif page.lang == "fr" %}
Bonjour-Hey Fin de semaine de contredanse
{% endif %}
</h1>

<p class="center-highlight">
<span class="big">
{% if page.lang == "en" %}
April 17-19, 2026
{% elsif page.lang == "fr" %}
17-19 Avril 2026
{% endif %}
</span>
<br>Caller 1
<br>Caller 2
<br>Band 1
<br>Band 2
<br>Centre Saint-Barthélemy, Montreal, QC
</p>
<p class="center-highlight">
<a class="register-button" href="#">
{% if page.lang == "en" %}
Register Now
{% elsif page.lang == "fr" %}
Inscrivez-vous
{% endif %}
</a>
</p>

{% if page.lang == "en" %}
<p>Join us for our first annual contra dance weekend here in Montreal!</p>
{% elsif page.lang == "fr" %}
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Date</h2>
<p>Bonjour-Hey will take place the weekend of <strong>April 17-19, 2026.</strong></p>
{% elsif page.lang == "fr" %}
<h2>17-19 Avril 2026</h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Talent</h2>
<div class="imgparagraph forward">
<img src="{{site.baseurl}}/assets/images/OpenBand.jpg" alt="" />
<p><strong>Band 1</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis nisi metus. In eget sem sit amet erat molestie ullamcorper. Nulla ullamcorper scelerisque turpis ac suscipit. Vivamus consequat malesuada mattis. Suspendisse pellentesque porta massa, sit amet posuere turpis semper ac. Etiam at finibus diam. Mauris aliquet, erat sed sollicitudin hendrerit, felis ex sodales eros, egestas consectetur turpis erat et dolor.</p>
</div>
<div class="imgparagraph reverse">
<img src="{{site.baseurl}}/assets/images/OpenBand.jpg" alt="" />
<p><strong>Band 2</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis nisi metus. In eget sem sit amet erat molestie ullamcorper. Nulla ullamcorper scelerisque turpis ac suscipit. Vivamus consequat malesuada mattis. Suspendisse pellentesque porta massa, sit amet posuere turpis semper ac. Etiam at finibus diam. Mauris aliquet, erat sed sollicitudin hendrerit, felis ex sodales eros, egestas consectetur turpis erat et dolor.</p>
</div>
<div class="imgparagraph forward">
<img src="{{site.baseurl}}/assets/images/OpenBand.jpg" alt="" />
<p><strong>Caller 1</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis nisi metus. In eget sem sit amet erat molestie ullamcorper. Nulla ullamcorper scelerisque turpis ac suscipit. Vivamus consequat malesuada mattis. Suspendisse pellentesque porta massa, sit amet posuere turpis semper ac. Etiam at finibus diam. Mauris aliquet, erat sed sollicitudin hendrerit, felis ex sodales eros, egestas consectetur turpis erat et dolor.</p>
</div>
</div>
<div class="imgparagraph reverse">
<img src="{{site.baseurl}}/assets/images/OpenBand.jpg" alt="" />
<p><strong>Caller 2</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce quis nisi metus. In eget sem sit amet erat molestie ullamcorper. Nulla ullamcorper scelerisque turpis ac suscipit. Vivamus consequat malesuada mattis. Suspendisse pellentesque porta massa, sit amet posuere turpis semper ac. Etiam at finibus diam. Mauris aliquet, erat sed sollicitudin hendrerit, felis ex sodales eros, egestas consectetur turpis erat et dolor.</p>
</div>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Location</h2>
<p>We will be dancing at Centre Saint-Barthélemy, 7111 avenue des Érables, Montréal. This fabulous and recently renovated building is just steps from the D'Iberville metro station.</p>
<p>We recommend taking the metro to and from the hall. D'Iberville station is just around the corner, and trains operate every 10 minutes or better all weekend. Buy an Unlimited Weekend pass!</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Pricing</h2>
<p>$1XXCAD/$1XXUSD Early bird (Until Month Day)</p>
<p>$1XXCAD/$1XXUSD Regular</p>
<p>Canadians please pay in CAD with Interac e-Transfer</p>
<p>Americans please pay in USD via PayPal</p>
<p>Further instructions will be sent after registration</p>
<p>We may be able to accept other methods of payment if necessary</p>
<p>Refund policy</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Schedule</h2>
<p>Friday 6pm - 11pm</p>
<p>Saturday 9am - 11pm</p>
<p>Sunday 12pm - 5pm</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Housing and Meals</h2>
<p>Housing and meals are not included in your registration. There are many great restaurants a short walk from the hall.</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Contact</h2>
<p>Email us at <a href="mailto:info@contramontreal.org">info@contramontreal.org</a></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

