<h1>
{% if page.lang == "en" %}
Bonjour-Hey Contra Dance Weekend
{% elsif page.lang == "fr" %}
Bonjour-Hey fin de semaine de contredanse
{% endif %}
</h1>

<img class="banner-img" alt="Bonjour-Hey logo" src="/assets/images/BonjourHey.png">

<p class="center-highlight">
<span class="big">
{% if page.lang == "en" %}
April 17-19, 2026
{% elsif page.lang == "fr" %}
17-19 Avril 2026
{% endif %}
</span>
<br>Genticorum (Pascal Gemme, Yann Falquet &amp; Nicholas Williams)
<br>Cedar Stanistreet, Eric McDonald &amp; Grace Hendrickson-Jones
<br>Bev Bernbaum
<br>Luke Donforth
<br>Centre Saint-Barthélemy, Montreal, QC
</p>
<p class="center-highlight">
<a class="register-button" href="https://forms.gle/JHFaVwkS7xKGA7Wn7">
{% if page.lang == "en" %}
Register Now
{% elsif page.lang == "fr" %}
Inscrivez-vous
{% endif %}
</a>
</p>

{% if page.lang == "en" %}
<p>Join us for our first annual contra dance weekend here in Montreal!</p>
{% elsif page.lang == "fr" %}
<p></p>
{% endif %}

{% if page.lang == "en" %}
<p>Interested but not ready to register? <a href="/en/mailing-list">Join our Bonjour-Hey mailing list</a> to stay up-to-date.</p>
{% elsif page.lang == "fr" %}
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Date</h2>
<p>Bonjour-Hey will take place the weekend of <strong>April 17-19, 2026.</strong></p>
{% elsif page.lang == "fr" %}
<h2>17-19 Avril 2026</h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Talent</h2>
<div class="imgparagraph forward">
<img src="/assets/images/genticorum.webp" alt="Photo of Genticorum" />
<p><a href="https://www.genticorum.com/english"><strong>Genticorum</strong></a> is among the most distinctive voices of Québécois traditional music. Founded in 2000, when fiddler Pascal Gemme and guitarist Yann Falquet met in Montreal’s trad scene, Genticorum quickly earned international recognition for bringing out all the poetry and nuance of French Canada’s old songs and step-dance tunes. In 2015, Nicholas Williams added his flute and accordion to the mix. Their compositions have become beloved standards at dances and sessions, their approach influencing peers and younger musicians alike. They’ve won Canadian Folk Music Awards and performed everywhere from Scotland to Malaysia, Egypt to Australia. With impeccable musicianship and infectious joie de vivre, Genticorum is bound to draw you in.</p>
</div>
<div>
</div>
<div class="imgparagraph reverse">
<img src="/assets/images/GraceCedarEric.jpg" alt="Photo of Cedar, Grace, and Eric" />
<p><strong>Cedar Stanistreet, Eric McDonald &amp; Grace Hendrickson-Jones</strong> </p>
</div>
<div class="imgparagraph forward">
<img src="/assets/images/BevBernbaum.jpg" alt="Photo of Bev Bernbaum" />
<p><strong>Bev Bernbaum</strong> (Peterborough, ON Canada) has been addicted to all things contra since she was first introduced to it as a dancer at the wonderful Falcon Ridge Folk Festival (Albany, NY) in the summer of 1996. Since then, Bev has been in demand as a caller in her home town, at other dances, dance weekends and camps across Canada, the US, New Zealand, Denmark, Scotland and the Czech Republic. 
<br>
Communities seek Bev out to provide a great experience for their dancers. Her easy going style has also made her a popular choice with bands. Bev's philosophy is to call dances that she loves to dance herself. She's always on the lookout for interesting figures or formations to mix things up. Her clear voice, calm manner and straightforward teaching style make dancing a pleasure for both beginning and experienced dancers.</p>
</div>
<!--
<p><strong>Bev Bernbaum</strong> (Peterborough, ON Canada) has been addicted to all things contra since she was first introduced to it as a dancer at the wonderful Falcon Ridge Folk Festival (Albany, NY) in the summer of 1996. Since then, Bev has been in demand as a caller in her home town, at other dances, dance weekends and camps across Canada, the US, New Zealand, Denmark, Scotland and the Czech Republic.  She was the tour leader and featured caller from North America on the Country Dance Tour and Festival in Prague in October 2024, and will be back in 2026!</p>
</div>
<p>Communities seek Bev out to provide a great experience for their dancers. Her easy going style has also made her a popular choice with bands. Bev's philosophy is to call dances that she loves to dance herself. She's always on the lookout for interesting figures or formations to mix things up. Her clear voice, calm manner and straightforward teaching style make dancing a pleasure for both beginning and experienced dancers. In January 2019, Bev called Larks and Robins for the first Toronto contra dances, helping to usher in the move to using non-gendered role terms. She embraced calling and dancing at Zoom-based events to stay connected with her beloved community during the time of social distancing. Although Bev had been dancing ECD (English Country Dance) for years, she finally started calling on Zoom during the pandemic and transitioned to calling live ECD dances in 2022.</p>
-->
</div>
<div class="imgparagraph reverse">
<img src="/assets/images/LukeDonforth.jpg" alt="Photo of Luke Donforth" />
<p><strong>Luke Donforth</strong> is a contra caller and choreographer based in Burlington, VT. He brings a warmth to the mic and focuses on facilitating everyone in the hall joyously moving to the music. He's a founding member of the Mad Robin Callers Collective, and calls everything from family dances to festivals. Luke is a prolific writer of dances, and you can expect new and classic compositions to keep your feet flying.</p>
</div>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Venue</h2>
<div class="imgparagraph forward">
<img src="/assets/images/centre-saint-barthelemy.jpg" alt="" />
<p>We will be dancing at <a href="https://maps.app.goo.gl/Vz2wgAALjtgGgFYGA">Centre Saint-Barthélemy, 7111 avenue des Érables, Montréal</a>. This fabulous and recently renovated building is just steps from the D'Iberville and Fabre metro stations. The only entrance is on avenue des Érables.</p>
</div>
<div>
<p>Unfortunately there is no step-free access to the hall at this time; it requires climbing about two dozen steps. The venue has applied for a permit to construct an elevator, but we cannot guarantee it will be ready for our 2026 dance.</p>
</div>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Roles</h2>
<p>Calling will use Larks and Robins. Everyone is welcome, and anyone may dance any role.</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Schedule</h2>
<p>Friday: 7:00 p.m. &ndash; 11:15 p.m.<br>
Saturday: 9:30 a.m. &ndash; 11:15 p.m.<br>
Sunday: 11:15 a.m. &ndash; 4:00 p.m.</p>
<p>Dancing will start and end at the times listed, with regular breaks, plus meal breaks on Saturday. A more detailed schedule will be available closer to the event.</p>
{% elsif page.lang == "fr" %}
<h2>Horaire</h2>
<p>Vendredi 19h - 23h15</p>
<p>Samedi 9h30 - 23h15</p>
<p>Dimanche 11h15 - 16h</p>
{% endif %}

{% if page.lang == "en" %}
<h2>Pricing</h2>
<p>Please pay after submitting the registration form. Your registration is not complete until we receive your payment!</p>
<p>We have separate pricing for Canadian Dollars and United States Dollars to account for different transaction fees.</p>
<p>If you would like to use another method to pay we can probably accomodate you. Please email us.</p>

<h3>Canadian Dollars</h3>
<p>Intended for Canadians or anyone with access to Interac e-Transfer. Pay by sending an e-Transfer to bonjour-hey@contramontreal.org</p>
<ul>
<li>Early bird (up to January 4): $145 for ages 16 and up. $70 for ages 11-15. Free for ages 10 and under.</li>
<li>Regular price (after January 5): $165 for ages 16 and up. $80 for ages 11-15. Free for ages 10 and under.</li>
</ul>

<h3>United States Dollars</h3>
<p>Intended for Americans or any other international visitors. Pay at <a href="https://buy.stripe.com/4gM5kC9qKbNEeFR2qC3sI02">this Stripe page</a>. Stripe accepts all major credit cards.</p>
<ul>
<li>Early bird (up to January 4): $110 for ages 16 and up. $55 for ages 11-15. Free for ages 10 and under.</li>
<li>Regular price (after January 5): $125 for ages 16 and up. $60 for ages 11-15. Free for ages 10 and under.</li>
</ul>

<h3>Refund policy</h3>
<p>Email us to cancel your registration. We will refund your registration cost (minus transaction fees) if any of the following are true:</p>
<ul>
    <li>You cancel your registration before February 20, or</li>
    <li>We are sold out and we can fill your place, or</li>
    <li>You are sick&mdash; Please don't come if you are sick!</li>
</ul>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Transportation</h2>
<p>No matter how you come to Montreal, we recommend you use public transit to get get to the hall. You can buy an unlimited weekend pass or a three-day pass at the airport or any metro station. We are a short walk from Fabre and D'Iberville metro stations. If you drive be aware many street parking spots are for residents only. We encourage you not to rent a car while here, public transit is the fastest and easiest way to get around!</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}
<!--
{% if page.lang == "en" %}
<h2>Transportation</h2>
<h3>Public Transit</h3>
<p>We recommend taking the metro to and from the hall. D'Iberville and Fabre metro stations are just around the corner, and trains operate every 10 minutes or better all weekend until at least 00:30 Friday, and 1 am on Saturday. Buy an <a href="https://www.stm.info/en/info/fares/transit-fares/unlimited-weekend">Unlimited Weekend pass</a> at machines at the airport or any metro station for just $16.75, valid for all transit between Friday at 4 p.m. to Monday at 5 a.m., including the airport 747 express bus, or a <a href="https://www.stm.info/en/info/fares/transit-fares/3-day-all-modes">three-day pass</a>, valid for three calendar days, for $21.75!</p>
<h3>Driving</h3>
<p>While we recommend you park your car for the weekend and enjoy Montreal like locals, by taking transit, or using our wonderful bike share system, <a href="https://bixi.com/en/">Bixi</a>, if you do drive, a few useful notes for differences in driving in Montreal:</p>
<ul>
  <li>You may never turn right on red on the Island of Montreal;</li>
  <li>A sign with a green circle indicates a mandatory obligation: if there is, e.g., a straight arrow within a green circle and 6-22h under it, you must go straight and cannot turn between 6 a.m. and 10 p.m., and there are many such signs; mapping apps, downloaded for offline use, usually, but not always, know these restrictions;</li>
  <li>A flashing green light indicates a protected signal, allowing you to go in any legal direction without fear of oncoming traffic, including turning left;</li>
  <li>Speed limits are in kilometres, and there are photo radar and red light cameras;</li>
  <li>You must yield to any bus changing lanes, including pulling out of a stop when the light turns green;</li>
  <li>Please be mindful of people walking and biking; there will likely be many, many more than you are likely used to, and patience is a virtue;</li>
  <li>Parking is often confusing, and we have no reserved parking at the hall. Parking on commercial streets will usually be time limited during the day and evening, and often is paid during those times; if there is a black post with a blue square and number, pay at the parking machine located on that or a nearby block or <a href="https://www.agencemobilitedurable.ca/en/practical-info/mobicite">use the app</a>. Parking on side streets is free, but besides other common restrictions you may not park in residential zones. Near the hall, residential zones will be on parts of each side of each block, marked with signs with red squares, and arrows on those signs will delimitate where the zone starts and ends. If you are staying downtown, you could save money and hassle parking near the hall over the weekend and using transit to get back to your hotel. If you have any questions, feel free to ask one of us.</li>
</ul>
<h3>Getting Here</h3>
<p>We expect most people to drive, fly, bus or train to Montreal. Our train station is downtown and serves Canadian cities with Via and New York with Amtrak. Buses serve Canadian cities, New York and Boston on a variety of carriers. Montreal has a large international airport with over 150 destinations in over 50 countries, with an express bus, the 747, to downtown, as well as taxis and major ridehails.</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}
-->



{% if page.lang == "en" %}
<h2>Housing and Meals</h2>
<p>Housing and meals are not included in your registration. There are many great restaurants a short walk from the hall, and some grocery stores nearby, as well as the famous Jean-Talon public market a short hop west on the 93 bus or the metro. The hall will be open during meal breaks to eat your own food, and there is a nice park behind the hall. There are no hotels near the hall, but there are many options downtown, among other areas. We have no preferred rate with any hotel.</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>International visitors</h2>
<p>Montreal welcomes millions of tourists every year and you'll have no trouble getting by even if you don't speak French, but feel free to dust off your French and a smile. We encourage you to explore our lovely city before, during and after our weekend. We're happy to answer any questions and help make your visit a memorable one!</p>
<p>And don't forget your passport!</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>More to come!</h2>
<p>We have lots of ideas for how to make this a memorable weekend, and we will post them once confirmed. If you have any suggestions, or want to help, please reach out.</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Contact</h2>
<p>Email us at <a href="mailto:bonjour-hey@contramontreal.org">bonjour-hey@contramontreal.org</a></p>
{% elsif page.lang == "fr" %}
<h2>Contactez-nous</h2>
<p>Envoyez-nous un courriel à <a href="mailto:bonjour-hey@contramontreal.org">bonjour-hey@contramontreal.org</a></p>
{% endif %}

