<h1>
{% if page.lang == "en" %}
Get Involved
{% elsif page.lang == "fr" %}
Impliquez-vous
{% endif %}
</h1>

{% if page.lang == "en" %}
<p>Contra Montreal is entirely volunteer run, and also offers opportunities for everyone to call and play. Want to help or participate? Here's how:</p>
{% elsif page.lang == "fr" %}
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>On Call</h2>
<p>On Call is our callers' collective for new local callers. Offers a chance for new callers to gain experience.</p>
{% elsif page.lang == "fr" %}
<h2>On Call</h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Open Band</h2>
<p></p>
{% elsif page.lang == "fr" %}
<h2>Bande Ouverte</h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Setup Volunteer</h2>
<p></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Organizing Committee</h2>
<p></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<p>Special thanks to our current organizing committee:</p>
<ul>
    <li>Marie-Michèle Fournier</li>
    <li>Neil Guertin</li>
    <li>Grace Henrickson-Jones</li>
    <li>Jen Jack</li>
    <li>Claude Richard</li>
    <li>Nicholas Smith</li>
    <li>Emily Thomason</li>
    <li>Kaitlyn Urquhart</li>
    <li>Jonathan Werk</li>
</ul>
{% elsif page.lang == "fr" %}
<p></p>
<ul>
</ul>
{% endif %}

{% if page.lang == "en" %}
<h2>Contact</h2>
<p>Contact us at <a href='mailto:info@contramontreal'>info@contramontreal</a> to discuss any of these opportunities, or talk to us at the next dance!</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

