<h1>
{% if page.lang == "en" %}
<p>Information for Performers</p>
{% elsif page.lang == "fr" %}
<p>Information pour les artistes</p>
{% endif %}
</h1>

{% if page.lang == "en" %}
<p>We're always interested in welcoming bands and callers, whether experienced or up and coming. Please <a href="mailto:info@contramontreal.org">email us</a>.</p>
{% elsif page.lang == "fr" %}
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Booking</h2>
<p>We generally book about one to three months in advance, up to six months for out of town bands and callers. Our dances are usually 1st Sunday afternoons and 3rd Saturday evenings, but can vary, so please check the schedule on the home page. That schedule will be updated as dates and performers are confirmed.</p>
<p>Please reach out if you are interested in playing or calling for us. We can book you for any date currently marked TBD, or for dances in future months not yet posted. If you are scheduling a tour or have limited available dates we may even be able reschedule some things for you.</p>
{% elsif page.lang == "fr" %}
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Schedule</h2>
<p>Please arrive 30 minutes before the posted start time (usually 6 p.m. Saturday evenings and 2 p.m. Sunday afternoons, but start times may vary). This gives us approximately 15 minutes for setup, 30 minutes for sound check, and 15 minutes for an intro lesson for new dancers. The building is open to the public all day and we get access to our room 30 minutes before the posted start time. Directions and parking information are on the home page. Please call us if there is an emergency or if you are running late.</p>
<p>There will be a short break about halfway through the evening.</p>
<p>The dance will usually go five to ten minutes past the end time listed on our homepage (to 5:40 or 9:40 p.m.), leaving us 20 minutes to tear down. The building closes and we have to be out at 10 p.m. on Saturday and 6 p.m. on Sunday.</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Sound</h2>
<p>We will have a sound technician helping you with setup. We use a Berhinger XR18 digital mixer (which can provide phantom power), we have three SM57 or SM58 microphones, and plenty of XLR and power cables. We also have two JBL EON15 G2 speakers and two monitors. We should be able to accommodate most setups but please let us know if you have any special needs.</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Pay</h2>
<p>We generally pay $110 per person for local talent and $150 for out of town talent. Rates may be different for larger bands or for special events. We can pay in cash or e-Transfer as you prefer.</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>International talent</h2>
<p>We have welcomed international talent with no issue for years. No work permit is required for tours of less than two weeks. We will provide you with a Letter of Engagement which you may be asked to show at the border. More details are available from the <a href="https://cfmusicians.afm.org/services/performing-in-canada-for-musicians-from-the-usa-and-abroad">Canadian Federation of Musicians</a>.</p>
<p>Make sure you meet all other <a href="https://www.cbsa-asfc.gc.ca/travel-voyage/ivc-rnc-eng.html">requirements for entry</a>. And don't forget your passport!</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Housing</h2>
<p>We can usually accommodate housing requests if asked in advance.</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>For callers</h2>
<p>We dance with larks and robins.</p>
<p>Expect some brand new dancers at every dance, and to teach a 15 minute introductory lesson before it starts.</p>
<p>We can usually fit 5 dances in the first half and 4 in the second half.</p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>For musicians</h2>
<p>If this is your first time playing for a contra dance please read this guide written by one of our organizers and musicians: <a href="/assets/documents/How-To-Play-For-Contra-Dance.pdf">How To Play For Your First Contra Dance</a></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}

{% if page.lang == "en" %}
<h2>Contact</h2>
<p>If you have any questions please email us at <a href="mailto:info@contramontreal.org">info@contramontreal.org</a></p>
{% elsif page.lang == "fr" %}
<h2></h2>
<p></p>
{% endif %}
